# live data (status, settings, visitors) — never overwritten by restoring code
data/
# zip snapshots
backups/
.env
node_modules/
.DS_Store
node_modules/
dist/
ios/build/
ios/DeurBeheer.xcodeproj/
ios/App/Info.plist
*.ipa
ios/App/Info-Dev.plist
