<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-10-07T16:03:45Z</date>
	<key>WorkspacePath</key>
	<string>/Users/milolabordus/Library/Application Support/Claude/scratch-workspaces/fc1e4ad9-bb9c-4598-bffb-62bfaab05eaf/8641d9d3-2805-4e7b-b7a2-31b0946dbb40/scratch-2026-10-06-c0e8db/ios/DeurBeheer.xcodeproj</string>
</dict>
</plist>
